.button{
    -fx-background-image: url("Brush.png");
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat;
}

.button:pressed{
    -fx-background-image: url("Brush.png");
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat;
    -fx-border-radius: 20;
    -fx-rotate: 10;
        
    
}